*, html, body {
    font-family:  "Source Sans Pro",  sans-serif;
    margin: 0;
    padding: 0;
}
/** UTILS **/
.flex {
    display: flex;
}
.flex-one {
    flex: 1;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}

/* MAIN */
#main {
    color: #6c6c6c; 
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    z-index: 1; 
    background-color: aliceblue; /**** remove it ***/
}
#main, #header, #menu, #sliders-block {
    max-width: 1280px;
}



/* MENU */
#menu {
    position: static;
    height: 50px;
    z-index: 5; 
    width: inherit;
    background-color: #fff; 
    border-bottom: 1px solid #bcbcbc;
    top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu.sticky {
    position: fixed;
    top: 0;
}

#menu-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}
#menu #logo {
    display: flex;
} 
#menu #logo img {
    width: 127px;
    height: 27px;
}
#menu  ul.menu-list, #menu ul.menu-list > li, #menu  ul.menu-list > li > a, #menu-filter-search {
    display: flex;
    height: 50px;   
}

#menu  ul.menu-list {
    flex-direction: row;
    margin: 0 20px; 
}
#menu ul.menu-list > li  {
    font-size: 13px;
    align-items: center;
}
#menu  ul.menu-list > li > a  {
    text-transform: uppercase;
    padding: 0 10px; 
    text-decoration: none;
    color: #6c6c6c;
    align-items: center;
}
#menu  ul.menu-list > li > a:hover, #menu > ul.menu-list > li > a:active {
    color:#6c6c6c; 
}

#menu  ul.menu-list > li > a.menu-green:hover {
    background-color: #008000;
    color: #FFF;
}
#menu  ul.menu-list > li > a.menu-yellowgreen:hover {
    background-color: #9ACD32;
    color: #FFF; 
}
#menu  ul.menu-list > li > a.menu-olive:hover {
    background-color: #808000;
    color: #fff; 
}
#menu  ul.menu-list > li > a.menu-darkgreen:hover {
    background-color: #006400;
    color: #fff; 
}
#menu  ul.menu-list > li > a.menu-seagreen:hover {
    background-color: #2E8B57;
    color: #fff; 
}
#menu  ul.menu-list > li > a.menu-olivedrab:hover {
    background-color: #6B8E23;
    color: #FFF; 
}
#menu  ul.menu-list > li > a.menu-darkseagreen:hover {
    background-color: #8FBC8F;
    color: #FFF; 
}
#menu  ul.menu-list > li > a.menu-forestgreen:hover {
    background-color: #228B22;
    color: #fff; 
}
#menu  ul.menu-list > li > a.menu-mediumseagreen:hover {
    background-color: #3Cb371;
    color: #FFF; 
}
#menu-filter-search {
    align-items: center;
}

#mobile-menu-handle {
    display: none;
    font-size: 40px;
}


/** SEARCH BUTTON **/
.search-button {
    width: 30px;
    height: 24px;
    border: none; 
    margin: 0;
    display: inherit;
    background: url(../medias/recherche-btn.jpg)  center center no-repeat ;
    background-size: contain;
    cursor: pointer; 
}



/** LANG SELECT **/
.lang-select {
    width: 81px;
    height: 24px;
    position: relative;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
    margin-left: 5px; 
}
.lang-select .container {
    position: absolute;
    z-index: 3;
    min-height: inherit;
    width: inherit;
    top: 0 ; left: 0; right: 0 ; 
    background-color: #FFF;
    border: #51b1e0 1px solid; 
}
.lang-select  ul.listing {
    display: none; 
    border-top: #51b1e0 1px solid; 
    flex-direction: column;
    position: relative; 
    list-style: none;
    background-color: #FFF;
}
.lang-select  ul.listing li {
    height: 24px;
    align-items: center;
    text-transform: uppercase;
}
.lang-select  ul.listing li span {
    height: inherit;
    align-items: center;
}
.lang-select  ul.listing li span:first-child {
    justify-content: flex-end;
    margin-right: 5px;
}
.lang-select  ul.listing li img {
    width: 13px;
    height: 10px;
}
.lang-select  ul.listing li.selected, .lang-select  ul.listing li:hover {
    background-color: #51b1e0 ;
    color: #FFF; 
}


.lang-select.opened ul.listing {
    display: flex;
}
.lang-select .lang-selected {
    height: 24px;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
}
.lang-select .lang-arrow {
    color: #51b1e0;
    border-left: #51b1e0 1px solid;
    font-size: 16px;
}
#lang-handler {
    position: relative;
}
.lang-select .fa-caret-down, .lang-select.opened .fa-caret-up {
    display: inline-block; 
}
.lang-select.opened .fa-caret-down, .lang-select  .fa-caret-up {
    display: none;
}
                



/* Block Header */
#header {
    
    width: inherit; 
    min-height: calc( 100vh - 50px );
    position: relative;
    
}
#header .video-container {
    width: inherit;
    max-width: 1280px;
}
#header .header-mask {
    position: absolute;
    top: 0;
    left: 0;
    height:calc( 100vh - 50px ); 
    right: 0;
    background: url('../medias/Naturex6-1280.jpg') center center no-repeat;
    background-size: cover;
    z-index: 2; 
    transition: height 1s;
}
#header .header-mask-content {
    display: flex;
    flex-direction: row;
    width: inherit;
    max-width: 1280px;
    height: calc( 100vh - 50px );
}
#header .header-mask-content .zones {
    display: flex;
    flex: 1;
}
#header .header-mask-content .zone-command {
    position: relative;
    width: 214px;
}
#header .header-mask-content .header-halo4 {
    margin: 34px 72px 0 72px; 
    background: url('../medias/HALO4.png') no-repeat 0 0 ;
    height: 426px;
    min-width: 105px;
    display: flex;
    align-items: center;
}
#header .header-mask-content .header-halo4 img {
    width: 70%;
    max-width:  300px;
    margin-left: 70px;
}




#header.playing .header-mask {
    height: 0;
}
#header.playing .header-mask-content {
    display: none;
}

#header .header-mask .halo4 {
    position: absolute;
    background: url('../medias/HALO4.png') no-repeat 0 0 ;
    width: 103px;
    height: 426px;
    left: 818px;
    top: 34px;
}
/*#header .header-mask .header-text {
    /*position: absolute;*/
    /*background: url('../medias/header-text.png') no-repeat 0 0 ;
    width: 300px;
    /**height: 165px;
    left: 894px;
    top: 124px;*/
/*}*/



#header .header-mask .command {
    position: absolute;
    bottom: 0;
    left: 0; /*533.16px;*/
    width: 214px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header .header-mask .command span {
    display: block;
}

#header .header-mask .play {
    background: url('../medias/play.png') no-repeat 0 0 ;
    background-size: contain;
    width: 112px;
    height: 112px;
    margin-bottom: 35px;
}

#header .header-mask .play-video-text {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: -0.75px;
    font-weight: lighter;
    width: 133px;
    color: #fff;
    height: 21px;
    margin-bottom: 70px;
}
#header .header-mask .chevron-down {
    background: url('../medias/arrow-chevron.png') no-repeat 0 0 ;
    background-size: contain;
    width: 49px;
    height: 49px;
    margin-bottom: 22px;
}
#header .header-mask .scroll-text {
    font-size: 24px;
    line-height: 28.8px;
    font-weight: lighter;
    width: 214px;
    height: 22.88px;
    color: #fff;
    height: 21px;
    margin-bottom: 71px;
}




/* Block Sliders */
#sliders-block {
    width: inherit;
    min-height: 100vh;
   /*in-height: calc( 100vh - 50px );*/
    display: flex;
    flex-direction: row;
}

#sliders-block .slider {
    display: flex;
    width: 33.33%;
    transition: width 1s;
    position: relative;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
}
#sliders-block .slider .slider-content {
    position: absolute;
    background: url('../medias/HALO4.png') no-repeat 0 0 ;
    height: 426px;
    top: 34px;
    left: 12%; 
    right: 0; 
    transition: left 1s;
}
#sliders-block .slider .slider-content img {
    margin: 170px 40px 0 40px;
    width: 70%;
    max-width: 188px; 
    transition: width 1s;
}
#sliders-block .slider .slider-content .infos {
    margin: 40px;
    /*border: aqua 1px solid ;*/
    min-width: 100px;
    min-height: 100px; 
    opacity: 0;
    transition: opacity 1s;
    display: flex;
    flex-direction: row;
}
#sliders-block .slider .slider-content .slider-content-text {
    background-color: rgba(0,0,0,0.3);
    text-transform: uppercase;
    text-align: center;
    display: none;
    flex: 1;
    color: #FFF;
    font-size: 16px;
    align-items: center;
    margin-left: 35px;
    line-height: 1.5;
}
#sliders-block .slider .slider-content .slider-content-text.current {
    display: flex;
}
#sliders-block .slider .slider-content .infos ul {
    display: flex;
    list-style: none;;
    flex-direction: column;
    width: 200px;
}

#sliders-block .slider .slider-content .infos ul > li {
    display: flex;
    flex-direction: row;
    height: 41px;
    width: inherit;
    align-items: center;
    border-bottom: #FFF 1px solid;
    font-size: 16px;
    font-weight: bold;
    color: #FFF; 
    cursor: pointer;
    text-transform: uppercase;
}
#sliders-block .slider .slider-content .infos ul > li:first-child {
    border-top: #FFF solid 1px;
}
#sliders-block .slider .slider-content .infos ul > li:hover {
    background-color: rgb(0,0,0,0.3);
}
#sliders-block .slider .slider-content .infos ul li .plus {
    width: 22px;
    height: 22px;
    font-size: 22px;;
    margin-right: 10px;
}


#sliders-block .slider.extended {
    width: 50%; 
}
#sliders-block .slider.extended .infos {
    opacity: 1;
}
#sliders-block .slider.closed {
    width: 25%;
}

#sliders-block .slider.closed .slider-content {
    left: 0px;
}

.slider-separator {
    background: #FFF;
    width: 70%;
    max-width: 188px;
    height: 2px;
    margin: 30px 40px; 
    display: none;
}





#other-block {
    max-width: 1280px;
    width: inherit;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.1);
    min-height: calc( 100vh - 50px );
    text-align: center;
    padding-top: 40px;
    
}


/*** RESPONSIVES RULES ****/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait)
,(min-device-width : 768px) and (max-device-width : 1024px) and ( -webkit-min-device-pixel-ratio: 1 ) and (orientation: portrait) ,
 (max-width : 680px)
{
    .header-halo4, .lang-select, .chevron-down, .scroll-text  {
        display: none !important;
    }
    .lang-select {
        display: none !important;
    }
    #header, #header .header-mask-content{
        height: 50vh;
        min-height: 50vh;
    }
    
    #header .header-mask-content .zone-command {
        display: flex;
        align-items: flex-end;
        width: 100vw;
    }
    #header .header-mask {
        height: 50vh;
    }
    #header.playing .header-mask {
        height: 0;
    }
    #header .header-mask .command {
        position: relative ;
        width: 100vw ;
    }
    #header .header-mask .play {
        font-size: 60px;
        width:  144px; 
        height: 144px;
    }
    #header .header-mask .play-video-text {
        font-size: 40px;
        width: fit-content;
    }
    #menu {
        position: fixed;
        top: 0;
       
    }
    #menu-container {
        display: flex;
        flex: 1 ; 
        width: 100vw;
        justify-content: space-between;
        padding: 0 5px;
    }

    #mobile-menu-handle {
        display: block;
    }
    #menu ul.menu-list {
        display: none;
        position: absolute;
        background-color: #FFF;
        top: 50px;
        left: 0 ;
        width: 100vw;
        flex-direction: column;
        height: fit-content; 
        margin: 0;
    }
    #menu ul.menu-list.open {
        display: flex;
        
    }
    #menu ul.menu-list > li {
        font-size: 20px;
        align-items: center;
        height: 60px;
        border-top: 1px solid;
        padding-left: 20px;

    }


    .search-button {
        width: 56px;
        height: 45px;
    }

    #sliders-block {
        height: 50vh;
        min-height: 50vh;
    }

    #sliders-block .slider .slider-content {
        background-image: none;
        left: 0; 
    }
    #sliders-block .slider .slider-content .infos {
        flex-direction: column;
        display: none;
    }
    #sliders-block .slider .slider-content .slider-content-text {
        margin: 35px 0 0 0 ;
        width: 200px;
    }

    #sliders-block .slider .slider-content img, .slider-separator {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #sliders-block .slider.extended, #sliders-block .slider.closed  {
        width: 33.33%;
    }
    #sliders-block .slider.extended .infos {
        display: none;
    }


    

    #header .video-container {
        margin-top: 50px;
        min-width: 100vw;
    }


}